.eye-test-super-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
}

.eye-test-super-container .padding {
    background-color: white;
    padding: 12px;
}

#eye-test-screenSizeWrapper {
    padding: 12px;
}

#eye-test-screenSizeWrapper .row {
    margin-top: 6px;
}

.eye-test-input-container, .eye-test-add-button-container {
    margin-top: 6px;
}

.eye-test-input-container {
    vertical-align: middle;
}

.eye-test-input-select {
    margin: 0 !important;
}

.eye-test-super-container .panel {
    margin: 0;
    border-radius: 0;
}

.eye-test-instructions-text {
    color: rgb(var(--mainColor)) !important;
    padding-bottom: 12px;
}

.eye-test-input-select {
    margin: 12px;
}

.eye-test-add-button, .eye-test-next-button, .eye-test-start-button {
    padding: 6px 12px;
    background-color: rgb(var(--mainColor)) !important;
    color: white !important;
    font-size: calc(var(--mobFontSize_P) - 1%);
    display: block;
    text-align: center;
}

.eye-test-add-button:hover,
.eye-test-next-button:hover,
.eye-test-start-button:hover,
#eye-test-startover:hover,
.eye-test-add-button:active,
.eye-test-next-button:active,
.eye-test-start-button:active,
#eye-test-startover:active,
.eye-test-add-button:focus,
.eye-test-next-button:focus,
.eye-test-start-button:focus,
#eye-test-startover:focus {
    color: lightgray !important;
}

.eye-test-start-button {
    margin: 12px;
}

.eye-test-next-button {
    margin-top: 12px;
}

#eye-test-chartImg>.a-up {
    margin-right: -22px;
    right: 50%;
    top: 20px;
}

#eye-test-chartImg>.a-right {
    margin-top: -22px;
    right: 20px;
    top: 50%;
}

#eye-test-chartImg>.a-down {
    bottom: 20px;
    margin-right: -22px;
    right: 50%;
}

#eye-test-chartImg>.a-left {
    left: 20px;
    margin-top: -22px;
    top: 50%;
}

#eye-test-chartImg > a {
    border: 2px solid rgb(var(--mainColor));
    border-radius: 40px;
    box-shadow: 0 0 5px #ccc;
    display: inline-block;
    height: 44px;
    position: absolute;
    width: 44px;
    z-index: 2;
}

#eye-test-chartImg > .a-right {
    background: url("https://static.webteb.net/imgs/calc/right.png") no-repeat scroll center center rgb(var(--mainColor))
}

#eye-test-chartImg > .a-left {
    background: url("https://static.webteb.net/imgs/calc/left.png") no-repeat scroll center center rgb(var(--mainColor));
}

#eye-test-chartImg > .a-up {
    background: url("https://static.webteb.net/imgs/calc/up.png") no-repeat scroll center center rgb(var(--mainColor));
}

#eye-test-chartImg > .a-down {
    background: url("https://static.webteb.net/imgs/calc/down.png") no-repeat scroll center center rgb(var(--mainColor));
}
.calc.eye-test .calc-icon {
    background: url("https://static.webteb.net/imgs/calc/eye-calc.png") no-repeat scroll center center rgb(var(--mainColor));
}

#eye-test-chartImg {
    padding: 100px 50px;
    position: relative;
}

#eye-test-canvasContainer {
    text-align: center;
}

#eye-test-resultContainer {
    color: white;
    text-align: center;
    padding: 12px;
}

#eye-test-reset-button-container {
    background-color: white;
    margin-top: 12px !important;
    padding: 24px;
    text-align: center;
}

#eye-test-startover {
    background-color: rgb(var(--mainColor)) !important;
    color: white;
    padding: 6px 12px;
}