/* tajawal-regular - arabic */
@font-face {
    font-family: 'Tajawal Regular';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('tajawal-v3-arabic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('tajawal-v3-arabic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
  }
  /* tajawal-bold - arabic */
  @font-face {
    font-family: 'Tajawal Bold';
    font-style: normal;
    font-weight: 700;
    
    src: local(''),
         url('tajawal-v3-arabic-bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('tajawal-v3-arabic-bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
  }